@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(255,255,255,1);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Customize the scrollbar width */
::-webkit-scrollbar {
  width: 10px;  /* Width of the scrollbar */
  height: 10px; /* Height of the horizontal scrollbar (for horizontal scroll) */
}

/* Customize the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light gray track */
  border-radius: 10px; /* Round the track corners */
}

/* Customize the scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Darker gray thumb */
  border-radius: 10px; /* Round the thumb corners */
  border: 2px solid #f1f1f1; /* Adds padding to the thumb */
}

/* Hover effect for the scrollbar thumb */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Change thumb color when hovered */
}
